<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 style="background: cornflowerblue">
    <marquee direction="right"> AddCourse Details</marquee>
<form action="/addcoursedetails/" method="post">
    {% csrf_token %}
<table align="center" border="1">
    <tr>
        <td>CourseName:
            <input type="text"   placeholder="Course Name" name="cname" required>
        </td>
    </tr>
    <tr>
        <td>CourseId:
            <input type="number" value="{{ id }}" placeholder="Course Id" name="cid" required>
        </td>
    </tr>
    <tr>
        <td>CourseFee:
            <input type="number" placeholder="Course Fee" name="cfee" required>
        </td>
    </tr>
    <tr>
        <td>Duration:
            <input type="number" placeholder="Duration" name="cdur" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Add">
        </td>
    </tr>
    <tr>
        <td>{{ res }}</td>
    </tr>


</table>
    </form>
</body>
</html>