<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 align="center" style="background: darkturquoise">
<a href="/addcourse/" >Add Course</a>&nbsp;&nbsp;
<a href="/course/">View Course's</a>&nbsp;&nbsp;
<a href="/addfaculity/">Add Faculity</a>&nbsp;&nbsp;&nbsp;
<a href="/faculity1/">View Faculity</a>&nbsp;&nbsp;
<a href="/student/">View Student Details</a>&nbsp;&nbsp;

<a href="/company/">Company details</a>&nbsp;&nbsp;
</h4>
{% load staticfiles %}
<img src="{% static 'B004-1200x600.jpg' %}" width="400" height="400">
<img src="{% static 'B007-1200x600.jpg' %}" width="400" height="400">

</body>

</html>