<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 style="background: brown">
    <marquee direction="right">Admin login</marquee>
</h4>
{% load staticfiles %}

<form action="/admin_login_details/" method="post">
    {% csrf_token %}
<table align="center" border="1">
    <tr>
        <th> Admin Login</th>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="Username" name="uid" autocomplete="off" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="password" placeholder="Password" name="upass" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Login">
        </td>
    </tr>
    <tr>
        <td>{{ message}}</td>
    </tr>
</table>
    </form>
<img src="{% static 'B002-1200x600.jpg' %}" width="400" height="400" align="center">

</body>
</html>