<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center" style="background-color: crimson">
<marquee direction="right"> Prasad Technologies</marquee>
    </h1>
{% load staticfiles %}
<table align="center" border="0">
    <tr>
        <td>
            <img src="{% static '75066004-the-purpose-of-the-world-education-logos-used-for-school-college-and-university-sign-and-symbol-.jpg'%}" width="150" height="150">
        </td>
    </tr>
</table>
</body>
</html>