<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load staticfiles %}

    <h4 align="center" style="background: greenyellow">
   <a href="/admin_login_details/" style="text-align: center">Admin Login</a>&nbsp;
    <a href="/viewstudent/" style="text-align: center">Student Registration</a>&nbsp;
    <a href="/studentlogin/" style="text-align: center">Student Login</a>&nbsp;
        <a href="/company1/">Company Registration</a>&nbsp;&nbsp;
    </h4>

<img src="{% static 'download (1).jpg' %}" width="200" height="200">
<img src="{% static 'download (2).jpg' %}" width="200" height="200">
<img src="{% static 'images.jpg' %}" width="200" height="200">
<img src="{% static 'images (1).jpg' %}" width="200" height="200">
<img src="{% static 'images (2).jpg' %}" width="200" height="200">
<img src="{% static 'images (3).jpg' %}" width="200" height="200">
<img src="{% static 'images (4).jpg' %}" width="200" height="200">
</body>
</html>