<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 style="background: green">
    <marquee direction="right"> ViewFaculity Details</marquee>
<table align="center" border="2">
    <tr>
        <th colspan="6">Faculity Details</th>
    </tr>
    <tr>
        <td>Faculity Id</td>
        <td>Faculity Name</td>
        <td>Gender</td>
        <td>Contact No</td>
        <td>Courses</td>
        <td>Experience(year)</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    {% for x in res1 %}
        <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.gender }}</td>
        <td>{{ x.cno }}</td>
        <td>{{ x.course }}</td>
        <td>{{ x.exp }}</td>
        <td>
            <a href="/faculityupdate/?update_id={{ x.id }}">Update</a></td>
        <td>
            <form action="/faculitydelete/" method="post">
                {% csrf_token %}
            <input type="submit" value="Delete">
                <input type="hidden" value="{{ x.id}}" name="delete_id">
                </form>
        </td>
        </tr>
    {% endfor %}
<tr>
    <form action="/faculitycsv/" method="post">
        {% csrf_token %}
    <td colspan="6" align="center">
        <input type="submit" value="Download">
    </td>
         </form>
</tr>
</table>
</body>
</html>